:root{
    color-scheme: light only;
}

body, html {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#main{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}
p{
    font-size: 20px;
}
